<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="IntervalInMinutes" value ="1"/>
		<add key="Username" value ="webapi_thelost1"/>
		<add key="Password" value ="encrypt:Qster!23"/>
		<add key="PhoneNumber" value ="encrypt:663481796"/>
	</appSettings>
</configuration>